@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<header id="home" class="h-100">

    <!---------------------- nav bar ---------------------->
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#resume">Resume</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!---------------------- nav bar end ---------------------->

    <!---------------------- banner ---------------------->
    <div class="banner-container container">
        <h1 class="banner-header">Zach Marcus</h1>
        <ul class="banner-links smooth-scroll">
            <li class="list-item">
                <a href="https://github.com/zachmarcus7">
                    <i class="fa-brands fa-github-square github-icon icons-general"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/zachmarcus7">
                    <i class="fa-brands fa-linkedin linkedin-icon icons-general"></i>
                </a>
            </li>
            <li>
                <a href="mailto:zmarcus@outlook.com">
                    <i class="fa-solid fa-square-envelope mail-icon icons-general"></i>
                </a>
            </li>
        </ul>
    </div>
    <!---------------------- banner end ---------------------->

    <!---------------------- down arrow ---------------------->
    <div class="down-arrow-container">
        <a href="#about" class="down-arrow">
            <i class="fa-solid fa-angles-down down-arrow"></i>
        </a>
    </div>

    <!---------------------- down arrow end ---------------------->

</header>

<div class="body-container">
    <main role="main" class="pb-3">
        <div class="body-div">

            <!---------------------- about ---------------------->
            <div class="h-100">
                <div id="about" class="about-container container-fluid">
                    <div class="about-header-container">
                        <h1 class="banner-header">About</h1>
                        <br />
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-1 col-sm-0   col-xs-0"><</div>
                        <div class="col-lg-4 col-md-5 col-sm-12  col-xs-12 row about-left-container">
                            <div class="col about-section text-center">
                                <div>
                                    &nbsp;
                                </div>
                                <div class="about-image">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <img class="media-object" src="~/images/self.png" alt="self" />
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading about-image-heading">Zach Marcus</h4>
                                            <h6 class="about-image-body">Portland, OR</h6>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    &nbsp;
                                </div>
                                <div>
                                    <div class="about-words">
                                        <p>
                                            Computer Science Graduate with experience in several different programming languages, frameworks,
                                            and development best practices. Built projects ranging from cross-platform mobile applications to
                                            Unity games utilizing machine learning agents, as well as RESTful APIs. Knowledgeable with Agile
                                            and Scrum, as well as different software testing methods.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 about-right-container">
                            <h6 class="about-stats">STATS</h6>
                            <br />
                            <h3>LANGUAGES</h3>
                            <h6>C#, Python, C++, JavaScript, C, Dart, Rust</h6>
                            <br />
                            <h3>FRAMEWORKS</h3>
                            <h6>ASP.NET Core, Flutter, Flask, Node.js, Express, Auth0, Unity, ML-Agents, NumPy, Pandas, PyTorch, Docker</h6>
                            <br />
                            <h3>MISC</h3>
                            <h6>Git, Agile, Object Oriented Programming, MVC Design Pattern, PyCharm, Visual Studio, AJAX, .NET Razor Pages, .NET MVC, SQL, Azure Cloud Services, Google Cloud Hosting</h6>
                        </div>
                        <div class="col-lg-2 col-md-1 cold-sm-0  col-xs-0"><</div>
                    </div>


                </div>
            </div>
            <!---------------------- about end ---------------------->

            <!---------------------- projects ---------------------->
            <div id="projects" class="projects-container container h-100">
                <h1 class="project-header">Projects</h1>



            </div>
            <!---------------------- projects end ---------------------->

        </div>
    </main>
</div>


